.sips-home-title {
  text-align: center;
}
.recent-sip-div {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  box-shadow: lightgrey 4px 4px 4px;
  padding-left: 5px;
  overflow: hidden;
  width: 95%;
  margin-left: 2%;
}
.recent-sip-div > a > h3 {
  margin-left: 5px;
}
