.checkin-feed-div {
  background-color: #fff;
  width: 50%;
  height: fit-content;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-left: 35px;
  padding: 5px;
  box-shadow: lightgrey 8px 2px 8px;
}
.checkin-feed-div > * {
  margin-bottom: 5px;
  color: black;
}
a {
  color: #8a4500;
  text-decoration: none;
}
.comment-container {
  height: fit-content;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  box-shadow: lightgrey 4px 4px 4px;
}
.checkin-delete-button {
  background-color: transparent;
  border: transparent;
}
.checkin-delete-button:hover {
  font-size: 12px;
  cursor: pointer;
}
.checkin-delete-button-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
}
