.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 50px;
  align-items: center;
  border: #fff solid 8px;
}

.nav-bar > input {
  width: 65%;
}
.right-side-nav {
  display: flex;
  justify-content: space-around;
  width: 10%;
}
.home-button {
  width: 50px;
  font-size: 25px;
  align-items: center;
}
.profile-dropdown {
  position: absolute;
  background-color: #fff;
  width: fit-content;
  right: 50%;
  top: 100%;
  z-index: 1;
}
.profile-dropdown > li {
  list-style: none;
  padding: 5px;
  margin: 5px;
}
.profile-img {
  height: 50px;
  width: auto;
}
.profile-button {
  background-color: transparent;
  border: 1px #ffc000 solid;
}
.profile-button-container {
  position: relative;
}
